
html, body {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100%;
    padding: auto;
    margin: 0px;
    font-size: 1em;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    max-width: 650px;
    margin: auto;
    padding: 30px;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px auto 100px; */
    /* justify-content: space-around; */
}

@med

.container > div {
    font-size: 1em;
    /* border: 1px solid black; */
}

.header {
    grid-column: 1 / -1;
}

.hero {
    grid-column: 1 / -1;
}

.content {
    grid-column: 1 / -1;
}


.hero > img {
    max-width: 100%;
    display: block;
}

.footer {
    grid-column: 1 / -1;
}

section {
    padding-top: 50px;
}

@media only screen and (min-width: 600px) {
    .header {
        grid-column: 1 / 4;
    }
    
    .hero {
        grid-column: 6 / -1;
    
}