.container > div {
    /* display: flex; */
    font-size: 1em;
    /* border: 1px solid black; */
}

html, body {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100%;
    padding: auto;
    margin: 0px;
  }

.container {
    height: 100%;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 100px;
}

.container > div {
    /* border: 1px solid brown; */
}

.header {
    grid-column: 5 / -2;
}

.content {
    grid-column: 2 / -2;
}

.hero {
    grid-column: 2 / 5;
    grid-row: 1 / 1;
}

.hero > img {
    max-width: 100%;
}

.footer {
    grid-column: 2 / -2;
}