.container > div {
    /* display: flex; */
    font-size: 1em;
    /* border: 1px solid black; */
}

html, body {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }

.container {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 600px auto;
    grid-template-rows: 200px auto 100px;
}

.header {
    grid-column: 2 / 3;
}

.content {
    grid-column: 2 / 3;
}

.hero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.hero > img {
    max-width: 100%;
}

.footer {
    grid-column: 2 / 3;
}