.split {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: var(--spacing-m);
    column-gap: calc(0.3 * var(--spacing-m));
}

.split > div {
    /* border: 1px solid black; */
}

.split > .label {
    grid-column: 1 / 2;
}

.split > .content {
    grid-column: 2 / 3;
}

.label {
    font-size: var(--font-size-s);
    color: var(--color-vdim);
}

.content > p {
    margin-top: calc(0.35 * var(--spacing-m));
}